# Python
__pycache__/
*.pyc

# Local development tools
auto_rsync.sh
start_watchmedo.sh

# IDE/Editor specific
.vscode/
.idea/
*.swp

# My test files and info
_my_tests/results/
_my_tests/__pycache__/

# Personal configuration
config.env
*.local.env
