# Start scripts
start_backend.sh
start_frontend.sh
persistent_start_backend.sh
persistent_start_frontend.sh
persistent_start_all.sh
start_watchmedo.sh
dev-start.sh
dev-stop.sh
dev-restart.sh

# Python
__pycache__/
*.pyc

# Database files
*.sqlite3

# Chat history
AI-Tutor/chat_history.json
AI-Tutor/chat_history_single_Query.json

# Local development tools
auto_rsync.sh

# IDE/Editor specific
.vscode/
.idea/
*.swp

# Notes about how the app works
_my_notes/

# My test files and info
_my_tests/
measurement_system.py
test_runner.py
start_multi_for_testing.sh

# My DB rebuild
docling_Andrew.pyRL_db_reference_1k_500/
RL_db_reference_1k_500_BACKUP/
AI-Tutor/docling_Andrew.py
AI-Tutor/RL_db_reference_1k_500/SIT796-1.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-2.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-3.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-3.2C.md
AI-Tutor/RL_db_reference_1k_500/SIT796-4.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-4.2D.md
AI-Tutor/RL_db_reference_1k_500/SIT796-5.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-5.2HD.md
AI-Tutor/RL_db_reference_1k_500/SIT796-6.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-6.2C.md
AI-Tutor/RL_db_reference_1k_500/SIT796-7.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-8.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-8.2HD.md
AI-Tutor/RL_db_reference_1k_500/SIT796-9.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-9.2C.md
AI-Tutor/RL_db_reference_1k_500/SIT796-10.1P.md
AI-Tutor/RL_db_reference_1k_500/SIT796-10.2D.md
AI-Tutor/RL_db_reference_1k_500/Week01_02_Introduction_to_Reinforcement_Learning.md
AI-Tutor/RL_db_reference_1k_500/Week02_01_Psychology.md
AI-Tutor/RL_db_reference_1k_500/Week03_MDPs_DynamicProgramming.md
AI-Tutor/RL_db_reference_1k_500/Week04_Monte_Carlo_Methods.md
AI-Tutor/RL_db_reference_1k_500/Week05_Temporal_Difference_Methods.md
AI-Tutor/RL_db_reference_1k_500/Week06_Eligibility_Traces_DYNA.md
AI-Tutor/RL_db_reference_1k_500/Week07_Function_Approximation.md
AI-Tutor/RL_db_reference_1k_500/Week08_DeepRL_and_PG.md
AI-Tutor/RL_db_reference_1k_500/Week09_MARL_advising.md
AI-Tutor/RL_db_reference_1k_500/Week10_Multi_Objective_Reinforcement_Learning.md
AI-Tutor/RL_db_reference_1k_500/c3a498cf-f7da-4806-8aa6-9043b84208b1/data_level0.bin
AI-Tutor/RL_db_reference_1k_500/c3a498cf-f7da-4806-8aa6-9043b84208b1/header.bin
AI-Tutor/RL_db_reference_1k_500/c3a498cf-f7da-4806-8aa6-9043b84208b1/length.bin
AI-Tutor/RL_db_reference_1k_500/c3a498cf-f7da-4806-8aa6-9043b84208b1/link_lists.bin
